@import "compass/utilities";
$dull: #e9e9e9;
$emphasis: darken($dull, 10%);
$contra-emphasis: white;
$emphasis-minor: darken($dull, 15%) !important;
$contra-emphasis-minor: darken(white, 5%) !important;
$input-border-radius: 30px;
@import "partials/sidenav";
// @import "partials/forms";


section[role=main] {
  background: $dull;
}
.micro {
  font-size:8px;
}
.row {
max-width: 90rem;
}

.dashboard {
  background:white;
  border-left:10px solid $emphasis;
}
.panel {
  margin-bottom:0;
  background:white;
}
.sticky {
  position: fixed;
  top:70px;
}
input[type=search] {
  border-radius:30px;
}
.secondary.active {
 background-color: #b9b9b9;
}
.top-bar-section > ul {background:none;}
.nav-dropdown {
  position: absolute;
  width:100%;
  z-index: 3;
  li {
    clear:both;
    z-index: 3;
  }
}

.modal {
  position: absolute;
  left: 50%;
  z-index: 99;
  height: auto;
  margin-left: -40%;
  width: 80%;
  background-color: white;
  padding: 1.11111rem;
  border: solid 1px #666666;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  top: 5.55556rem;
}

.close {
  position:absolute;
  right:0;
  top:0;
}

a {position: relative;}
a:hover {color:#1ccaff;}
.green {color:#43ac6a !important;}

.job-list section {
  display:table;
  h3 {padding-right:20px;}
  h3, nav {
    display:inline-block;
  }
}

.nav-counter {
  position: absolute;
  top: -1px;
  right: -5px;
  min-width: 8px;
  height: 20px;
  line-height: 20px;
  z-index: 2;
  margin-top: -1px;

  padding: 0 6px;
  font-weight: normal;
  color: white;
  text-align: center;
  text-shadow: 0 1px rgba(0, 0, 0, 0.2);
  background: #e23442;
  border: 1px solid #911f28;
  border-radius: 11px;
  background-image: -webkit-linear-gradient(top, #e8616c, #dd202f);
  background-image: -moz-linear-gradient(top, #e8616c, #dd202f);
  background-image: -o-linear-gradient(top, #e8616c, #dd202f);
  background-image: linear-gradient(to bottom, #e8616c, #dd202f);
  -webkit-box-shadow: inset 0 0 1px 1px rgba(255, 255, 255, 0.1), 0 1px rgba(0, 0, 0, 0.12);
  box-shadow: inset 0 0 1px 1px rgba(255, 255, 255, 0.1), 0 1px rgba(0, 0, 0, 0.12);
}

.nav-counter-green {
  background: #75a940;
  border: 1px solid #42582b;
  background-image: -webkit-linear-gradient(top, #8ec15b, #689739);
  background-image: -moz-linear-gradient(top, #8ec15b, #689739);
  background-image: -o-linear-gradient(top, #8ec15b, #689739);
  background-image: linear-gradient(to bottom, #8ec15b, #689739);
}

.nav-counter-blue {
  background: #3b8de2;
  border: 1px solid #215a96;
  background-image: -webkit-linear-gradient(top, #67a7e9, #2580df);
  background-image: -moz-linear-gradient(top, #67a7e9, #2580df);
  background-image: -o-linear-gradient(top, #67a7e9, #2580df);
  background-image: linear-gradient(to bottom, #67a7e9, #2580df);
}
