<div class="panel row">
    <div class="columns small-2">
      <h2><label for="right-label" class="right inline">Steps:</label></h2>
    </div>
    <div class="columns small-10">
      <ul class="button-group round">
        <li><a href="" class="small button secondary" ng-class="{active: selected == '1'}" ng-click="selected=1">1</a></li>
        <li><a href="" class="small button secondary" ng-class="{active: selected == '2'}" ng-click="selected=2">2</a></li>
        <li><a href="" class="small button secondary" ng-class="{active: selected == '3'}" ng-click="selected=3">3</a></li>
      </ul>
    </div>

    <div class="columns small-2">
      <h2><label for="right-label" class="right inline">Job Title:</label></h2>
    </div>
    <div class="columns small-10">
      <input class="round macro" type="text" placeholder="Inline Text Input">
    </div>

    <div class="columns small-2">
      <h2><label for="right-label" class="right inline">Job Description:</label></h2>
    </div>
    <div class="columns small-10">
      <textarea class="round" type="textarea" placeholder="Inline Text Input"></textarea>
    </div>

    <div class="columns small-2">
      <h2><label for="right-label" class="right inline">Positions Available:</label></h2>
    </div>
    <div class="columns small-2">
      <input class="round" type="number" placeholder="0"/>
    </div>
    <div class="columns small-1">
      <h2><label for="right-label" class="right inline">Starting:</label></h2>
    </div>
    <div class="columns small-3">
      <input class="round" type="date" placeholder="Inline Text Input"/>
    </div>
    <div class="columns small-1">
      <h2><label for="right-label" class="right inline">Expires:</label></h2>
    </div>
    <div class="columns small-3">
      <input class="round" type="date" placeholder="Inline Text Input"/>
    </div>

  </div>