<div class="modal" ng-show="isPreferencesPopupVisible">
  <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="closePreferences()">&times;</button>
        <h6>Edit Your Profile Preferences</h6>
  </div>
    <div class="modal-body row">
      <div class="small-2 columns">
        <img src="images/122.jpg" alt="">
      </div>


      <div class="small-4 columns">
        <label>Industries</label>
          <span class="round label">Engineering</span>
          <span class="round label">Technology</span>
          <!-- <input type="text" placeholder="large-4.columns" /> -->
        </label>
      </div>

      <div class="small-4 columns">
        <label>Locations</label>
           <span class="round label">Baton Rouge</span>
           <span class="round label">Shreveport</span>
          <!-- <input type="text" placeholder="large-4.columns" /> -->
        </label>
      </div>

  <!-- <div class="large-4 columns">
    <div class="row collapse">
      <label>Input Label</label>
      <div class="small-9 columns">
        <input type="text" placeholder="small-9.columns" />
      </div>
      <div class="small-3 columns">
        <span class="postfix">.com</span>
      </div>
    </div>
  </div> -->
</div>
</div>
</div>