<section role="main" ng-controller="EmployerController" >
  <div class="row">
    <div class="large-2 medium-2 columns" >
      <h3>Bob the Employer</h3>
      <input type="search" placeholder="Search">
      <ul class="side-nav">
        <li>
          <h5>Post Job</h5>
        </li>
        <li><h5>Current Jobs</h5>
        <ul>
          <li ng-repeat="job in jobs" ng-class="{active: activeTab == 'job{{job.id}}'}">
            <a href="" ng-click="switchActiveTab(job.id)" ng-mouseenter="showEdit=!showEdit" ng-mouseleave="showEdit=!showEdit">{{job.title}}&nbsp;&nbsp;&nbsp;<span ng-show="showEdit" ng-click="showDescriptionPopup()" class="micro round label">EDIT</span></a>
          </li>
        </ul>
        </li>
        <li>
          <h5>Previous Jobs</h5>
        </li>
        <li>
          <h5>Saved Applicants</h5>
        </li>

      </ul>
    </div>

<div ng-show="activeTab=='job{{job.id}}'" class="dashboard large-10 medium-10 columns" ng-repeat="job in jobs">
  <div class="panel row">
    <div class="columns large-4">
      <h2>{{job.title}}</h2><span>{{job.location}}</span>
      <ul class="inline-list">
        <li><a ng-click="showDescriptionPopup()" href="">Edit</a></li>
        <li><a href="">Deactivate</a></li>
        <li><a href="">Filter Results</a></li>
      </ul>
    </div>
    <div class="columns large-8">
      <h5>Job Description</h5>
      <p>{{job.summary}}</p>
    </div>
     <div class="modal" ng-show="isDescriptionPopupVisible" >
       <div class="modal-header">
              <button type="button" class="close" ng-click="closeDescriptionPopup()">&times;</button>
      <h3>Edit Questions</h3>
      <div ng-repeat="question in job.questions">


              <ul>
                <li>
                  <h5>{{question.question}}</h5>
                  <ul class="inline-list">
                    <li ng-repeat="answer in question.answers">{{answer.answer}}<input type="radio" name="pokemon" value="Blue" id="pokemonBlue">
                    </li>
                  </ul>
                </li>
              </ul>

          </div>

      </div>
    </div>

  </div>
  <div class="row" data-equalizer>
    <div class="large-6 columns panel" ng-repeat="applicant in job.applicants" data-equalizer-watch>
        <div class="large-4 columns">
          <img src="{{applicant.pic}}" alt="">
          <h3>{{applicant.name}}</h3>
        </div>
        <h5 >Score: {{applicant.score}}</h5>
        <div class="large-8 columns">{{applicant.summary}}</div>
        <ul class="inline-list">
          <li>Answers</li>
          <li>Contact</li>
          <li>Links</li>
          <li>Notes</li>
          <li>Save</li>
        </ul>
    </div>
  </div>
</div>

<!--

    <div ng-show="activeTab=='job-1'" class="dashboard large-10 medium-10 columns" data-ng-include="'views/dashboards/employer/job-1.tmpl.html'"></div>
    <div ng-show="activeTab=='job-2'" class="dashboard large-10 medium-10 columns" data-ng-include="'views/dashboards/employer/job-2.tmpl.html'"></div> -->