<div class="large-6 columns">
  <!-- Feed Entry -->
  <div class="row" ng-repeat="job in jobs">
    <div class="large-2 columns small-3">
      <img src="http://placehold.it/80x80&amp;text=[img]">
    </div>
    <div class="large-10 columns">
      <h4>{{ job.jobTitle }}</h4>
      <h5>{{ job.company }}</h5>
      <p><strong>Some Person said:</strong> Bacon ipsum dolor sit amet nulla ham</p>
      <ul class="inline-list">
        <li><a href="">Reply</a></li>
        <li><a href="">Share</a></li>
      </ul>
    </div>
    <hr>
  </div>

</div>