<div class="row">
  <div class="large-6 columns">


Search: <input class="round" ng-model="searchText">
      <div class="job-list" ng-repeat="job in jobs | filter:searchText" ng-show="jobShow">
        <!-- <h2>{{job.title}}</h2>
        <span>{{job.location}}</span> -->

        <div ng-repeat="item in job.job | filter:searchText" ng-mouseenter="showStatus=!showStatus" ng-mouseleave="showStatus=!showStatus" >
        <section>
          <h3><a href="" ng-click="showJobDetail(item)" >{{ item.title }}</a></h3>

          <nav ng-show="showStatus">
            <a ng-click="deleteJob(job)">Delete</a>
            <a ng-click="delete(fruit)">Save</a>
            <a ng-click="delete(fruit)">Email</a>
          </nav>
        </section>



          <h5><span><img src="{{ item.picture }}" alt=""></span>&nbsp;{{ item.company }} | {{ item.city }}, {{ item.state }}</h5>
          <hr>
        </div>

      </div>
  </div>
  <div class="columns large-6" data-ng-include="'views/jobDetail.tmpl.html'"></div>

</div>
