<nav class="top-bar" data-topbar>
  <ul class="title-area">
    <li class="name">
      <h1><a href="">VCF</a></h1>
    </li>
    <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>

  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">

     <!--  <li class="active"><a href="#">Right Button Active</a></li> -->
      <li class="has-dropdown">
        <a href="" ng-click="showSettings=!showSettings" class="glyphicon glyphicon-wrench">&nbsp;Settings</a>
        <ul class="nav-dropdown columns small-12" ng-show="showSettings">
          <li><a href="#/view1">Profile</a></li>
          <li><a href="#/view1">Log Out</a></li>

        </ul>
      </li>
      <li class="has-dropdown">
        <a href="" ng-click="showStatus=!showStatus" class="glyphicon glyphicon-eye-open">&nbsp;Views</a>
        <ul class="nav-dropdown columns small-12" ng-show="showStatus">
          <li><a href="#/view1">Seeker</a></li>
          <li><a href="#/view2">Employer</a></li>
          <li><a href="#/view3">Chamber</a></li>
          <li><a href="#/event">Event</a></li>
        </ul>
      </li>
    </ul>

    <!-- Left Nav Section -->
    <ul class="left">
      <li><a href="">Messages<span class="nav-counter nav-counter-green">4</span></a></li>
      <li><a href="">New Jobs<span class="nav-counter nav-counter-green">2</span></a></li>
      <!-- <li class="row collapse">
      <div class="large-8 small-9 columns">
        <input type="text" placeholder="Find Stuff">
      </div>
      <div class="large-4 small-3 columns">
        <a href="#" class="button expand">Search</a>
      </div>
    </li> -->
    </ul>
  </section>
</nav>


